<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <p>Wellcome to local host heeh</p>
      <h1 style="text-align: center">Welcome to the Home Page</h1>
      <nav>
         <ul>
            <li><a href="{% url 'list_books' %}">Books</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
         </ul>
      </nav>
   </body>
</html>
