<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROOOOM 2</title>
</head>
<body>


<h1> room 2</h1>
<p> it has been rendered from a html file, yay!!!</p>

<p> <b>select your study rooms: </b> if you want to go to room 1 click 
<a href="http://127.0.0.1:5000/studyrooms/room1/"> here</a> and for room 2 click
<a href="http://127.0.0.1:5000/studyrooms/room2/">here</a>

<br>

<p> if you want to go to the home page you <a href="http://127.0.0.1:5000/">select here</a></p>


</p>
</body>
</html>