<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company</title>
</head>
<body>
    <h1 style="text-align: center;">welcome!! to the company's deparments</h1>
   <h4>this is a departments page we will list our departments below</h4> 

   <p>
    please click
    <!-- <a href="{url 'product_list' ">Back to Product List</a> -->
    <a href="{%url 'department_list'%}"> here </a> to view them 
   </p>
   
</body>
</html>