<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>company</title>
      <style>
         h1 {
            text-align: center;
         }
      </style>
   </head>
   <!-- the normal landing page -->
   <body>
      <h1>welcome to our company!</h1>
      <p>where do you want to go?</p>

      <p>
         to go to the our departmetns please click
         <a href="{% url 'our_departments_landing' %}">here</a>
      </p>

      <p>
         i have not created the employees list yet but you can click
         <a href="">here</a>
         later when i set the url and the views for it
      </p>
   </body>
</html>
